<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger to DEBUG for tests -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Specific logger configurations for tests -->
    <logger name="org.eclipse.jetty" level="warn" />
    <logger name="org.hibernate" level="warn" />
    <logger name="org.hibernate.SQL" level="debug" />
    <logger name="org.hibernate.type.descriptor.sql" level="trace" />
    <logger name="org.jboss" level="warn" />
    <logger name="org.testcontainers" level="warn" />
    <logger name="com.github.dockerjava" level="warn" />
    <logger name="dat" level="debug" />

</configuration>